html,body{
	margin: 0;
	padding: 0;
	background-color:#f5f5f5;
	color: #666;
	height: 100%;

}
*{
	-webkit-tap-highlight-color:transparent;
}
textarea{
	resize: none;
}

#container{
	height: inherit;
}
a{
	text-decoration: none;
	color: #000;
}
.example-enter {
  opacity: 0.01;

}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 800ms ease;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease;
}
.home{
	margin: 0.5rem 1rem;
	color: #f1e8db;
	font-size: 0.875rem;

}
.home_icon{
	height: 1.3rem;
	width: 1.3rem;
	background-image:url(./../img/home.png);
	background-size: 100% 100%;
	display: inline-block;
	vertical-align: middle;
}
.home_info{
	margin-left: 0.2rem;
	vertical-align: middle;
	display: inline-block;
}
.home_icon_g{
	height: 1.3rem;
	width: 1.3rem;
	background-image:url(./../img/home_g.png);
	background-size: 100% 100%;
	display: inline-block;
	vertical-align: middle;
}
.home_info_g{
	color: #666;
	margin-left: 0.2rem;
	vertical-align: middle;
	display: inline-block;
}

@media screen and (max-width: 980px) {
	body{
		font-family:  sans-serif,'微软雅黑';
		font-weight: 400;
	}

}



/*loading动画的css*/
.spinner {
  margin: 100px auto;
  width: 60px;
  height: 60px;
  position: relative;
  margin-top: 4rem;
}
 
.container1 > div, .container2 > div, .container3 > div {
  width: 1rem;
  height: 1rem;
  background-color: #f1e8db;
 
  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
 
.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
 
.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
 
.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
 
.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }
 
.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
 
.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
 
.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
 
.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
 
.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
 
.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
 
.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
 
.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
 
.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
 
.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
 
.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
 
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}
 
@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}