.wrapper{
	background-color: #a89e9c;
	background-size: 100% 100%;	
	width: 100%;
	height: 100%;
	position: absolute;
	color: #f1e8db;
}

.time{
	width: 15rem;
	height: 5rem;
	position: absolute;
	top: 30%;
	left: 50%;
	margin-left: -8.125rem;
	margin-top: -7.5rem;
	padding: 0.625rem;
}
.time_icon{
	width: 5rem;
	height: 5.2rem;
	margin:0 auto;
	background-image:url(../../../img/time.png);
	background-size: 100% 100%;
}
.time_info{
	width: 100%;
	text-align: center;
	display: inline-block;
	font-size: 0.875rem;
}
.mine{
	width: 12rem;
	height: 15rem;
	position: absolute;
	top: 70%;
	left: 50%;
	margin-left: -6.625rem;
	margin-top: -7.5rem;
	padding: 0.625rem;
}
.user{

	margin-top: 1rem;
}
.user_pic{
	width: 4rem;
	height: 3.1rem;
	background-image:url(../../../img/user.png);
	background-size: 100% auto;

	margin: 0 auto;
}

.introduce div{
	display: block;
	line-height: 30px;
	text-align: center;	
}

.introduce .icons{
	display: flex;
}

.icons{
	display: flex;
}
.icons a{
	flex:1;
	display: inline-block;	
}
.icons a span{
	background-color: #a89e9c;
	display: inline-block;
	width: 100%;
	animation-duration: 1s; /*动画时间*/
    animation-fill-mode: both; /*播放后的状态*/	
}
.icons a span:hover{
	animation-name:container; /*动画的名称*/
    transform-origin: center bottom; /*设置动画旋转元素的基点为：居中靠下*/
    cursor: pointer;
}

.icons a{
	color:#f1e8db;
}
.me{
	margin-top: -0.4rem;
	height: 4.5rem;
	background-image:url(../../../img/guide.png);
	background-size: 100% 100%;
}
.list{
	height: 4rem;
	background-image:url(../../../img/list.png);
	background-size: 100% 100%;
}
.photo{
	height: 4.2rem;
	background-image:url(../../../img/photo.png);
	background-size: 100% 100%;
}

@keyframes container{
  0%,
  100%,
  20%,
  50%,
  80% {
  transition-timing-function: cubic-bezier(0.215,.61,.355,1); /*贝塞尔曲线 ： X1 Y1 X2 Y2*/
  transform: translate3d(0,0,0); /*设置只在Z轴上移动*/
  }
  40%,
  43%{
  transition-timing-function: cubic-bezier(0.755,0.50,0.855,0.060);
  transform: translate3d(0,-15px,0);
  }
  70%{
  transition-timing-function: cubic-bezier(0.755,0.050,0.855,0.060);
  transform: translate3d(0,-10px,0);
  }
  90%{
  transform: translate3d(0,-4px,0);
  }
}